.stories{
    /* background-color: green; */
    /* width: 614px;
    height: 50px; */
    gap: 15px;

    display: flex;

    margin-bottom: 24px;
    padding: 14px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;

    overflow: hidden;

    position: relative;
}

.story{
    /* background-color: red; */
    width: 66px;
    height: 86px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.story .group{
    /* background-color: greenyellow; */
    width: 64px;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(files/stories_background.jpg);
    background-size: cover;
    border-radius: 50%;
}

.group img{
    width: 56px;
    border-radius: 50%;
}

.scroll{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll ion-icon{
    border-radius: 50%;

    color: #fff;
    font-size: 26px;
    /*Isso é o q/ vai dar a sombra do botão scroll*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}